.beneficio-banner__container {
    display: flex;
    width: 326px;
    margin: 8px;
    gap: 16px;
    transition: transform 0.5s ease;
}

.beneficio-banner__container:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
}

.beneficio-banner__icon {
    min-width: 32px;
    min-height: 32px;
    color: white;
}

.beneficio-banner__text {
    color: #FFF;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    align-content: center;
}