.nosso-produto__botao-amostra {
    border-radius: 15px;
    border: 3px solid black;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #3FFF25;
    cursor: pointer;
    transition: transform 0.5s ease;
    justify-self: center;
}